[mysqld]
# включаем лог медленных запросов (1-включить; 0-выключить)
slow_query_log = 1

# задаем время, при превышении которого запрос будет считаться медленным (1 секунда);
long_query_time = 1

# путь до файла, в который будут записываться все медленные запросы
slow_query_log_file = /var/log/mysql/query_slow.log

# Журнал ошибок - должен содержать очень мало записей
log_error = /var/log/mysql/error.log

# Максимальное количество соединений (151 по умолчанию)
max_connections=250

pid-file = /var/lib/mysql/mysql.pid

character-set-server = utf8
collation-server = utf8_unicode_ci